{% extends "base.html" %}

{% block content %}
    <nav>
    <section class="search" style="margin-top: 80px">
        <form method="POST" action="{{ url_for('main.result') }}" id="search-form" autocomplete="off">
            <input class="input-search" type="text" placeholder="请输入查询的城市" name='city'>
            <a href="javascript:{}" name="submit"
               onclick="submit_form()"><i class="fa fa-search button-search"></i></a>
        </form>
        <p style="color:#c66;text-align: center;">404 服务器无法回应</p>
        <div class="nagare">
            <img src="../static/weather/2.png">
        </div>
    </section>
</nav>
{% endblock %}
