<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>liuswim</title>

    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>
<body>
{% block content %}
{% endblock %}
<footer>
    <a href="https://github.com/wowo878787">https://github.com/wowo878787</a>
</footer>
</body>
<script>
    function submit_form() {
        document.getElementById('search-form').submit();
        return false;
    }
</script>
</html>